<html>
<head>
    <title>E-commerce Store</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <div class="container">
            <a href="/" class="logo">E-commerce Store</a>
            <div class="nav-links">
                <a href="/order/history" class="nav-link">Order History</a>
                <a href="/cart" class="cart-link">Cart</a>
            </div>
        </div>
    </nav>
    
    <main class="container">